* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url('./imagens/fundo.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

header {
    display: flex;
    margin: 40px 5vw;

}

header #imgPrincipal {
    display: flex;
    width: 25vw;
    height: 20vw;
    background-image: url('./imagens/contruindo.png');
    background-size: contain;
    background-repeat: no-repeat;

}

#chamada {
    margin: auto 0px auto auto;
    font-size: 2.5vw;
    font-family: "Work Sans",sans-serif;
    font-weight: bold;
    color: white;
}

#detalhes {
    margin-top: 30px;
    margin-left: 10vw;
    font-size: 2vw;
    line-height: 3vw;
}

#titu {
    text-decoration: underline;
}

#botao {
    width: 20vw;
    margin-top: 30px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(112, 112, 112);
}

main {
    width: 85vw;
    margin: auto;
}

#part1 {
    display: flex;
    margin-top: 10vw;
}

main #textoPrincipal {
    width: 25vw;
    margin-bottom: 5vw;
    font-family: "Work Sans",sans-serif;
    font-weight: bold;
    line-height: 1.5rem;
    color: rgb(81, 81, 175);
}

#oqueE {
    margin-bottom: 30px;
}

#imgFim {
    width: auto;
    height: 15vw;
}

#part2 {
    display: flex;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

#imgCriando {
    width: 40vw;
    height: auto;
}


#texto2 {
    width: 25vw;
    margin-left: 10vw;
    font-family: "Work Sans",sans-serif;
    font-weight: bold;
    line-height: 1.5rem;
    color: rgb(81, 81, 175);
}

#naoPerca {
    margin-bottom: 30px;
}





