
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: space-between;
}

#chamada {
    width: 50vw;
    height: 30vw;
    background-color: rgb(35, 90, 180);
    border-bottom-right-radius: 200px;
    filter: drop-shadow(2px 2px 10px rgb(0, 0, 0, .6));
    font-size: 3vw;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    color: white;
    text-shadow: 4px 2px 0px rgb(0 0 0 / 27%);
}

#textoChamada {
    width: 80%;
    margin: 5% auto;
}

#botao {
    display: flex;
    width: 20vw;
    height: 4vw;
    font-size: 2vw;
    margin: 5% 25%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(236, 46, 46, 0.829);
}

#botao:hover {
    box-shadow: 2px 2px 20px rgb(0, 0, 0, .6);
    background-color: red;
}

#botao a {
    text-decoration: none;
    color: white;
}

#imgLogo {
    width: 45vw;
    height: 30vw;
    background-image: url('./imagens/contruindo.png');
    background-size: contain;
    background-repeat: no-repeat;

}

main {
    width: 80vw;
    margin: auto;
    line-height: 2rem;
    font-family: Raleway, sans-serif;
    font-size: 2vw;
    color: rgb(81, 81, 175);
}

#inicio {
    display: flex;
    margin: 4vw 0vw;
    justify-content: space-between;
}

#titulo1 {
    width: 40vw;
    margin: auto;
    margin-left: 0;
    font-size: 2.5vw;
}

#texto1 {
    width: 45vw;
}

#part1 {
    display: flex;
    margin: 4vw auto;
    justify-content: space-between;
}

#img1 {
    width: auto;
    height: 20vw;
    margin: auto;
    margin-left: 0;
}


#texto2 {
    width: 40vw;
    margin: auto;
}


#part2 {
    display: flex;
    margin: 4vw auto;
    justify-content: space-between;
}

#texto3 {
    width: 40vw;
    margin: auto;
}

ul {
    list-style-type: '\2714\00A0\00A0';
}

#img2 {
    width: auto;
    height: 20vw;
    margin-right: 5%;
}


@media screen and (max-width: 700px) {

    header {
        display: block;
    }

    #chamada {
        width: 100vw;
        height: 60vw;
        border-bottom-right-radius: 0px;
        overflow: hidden;
    }

    #titulo {
        font-size: 4vw;
    }

    #valor {
        font-size: 5vw;
    }

    #itens {
        font-size: 4vw;
    }

    #detalhes {
        font-size: 4vw;
        height: 20vw;
    }
    
    #botao {
        width: 30vw;
        height: 6vw;
        font-size: 3vw;
        margin: 3% auto;
    }

    #imgLogo {
        margin: 5% auto;
        background-color: white;
        border-radius: 20px;
    }

    #inicio {
        display: block;
    }

    #oqueE {
        width: 100%;
        margin: 3vw auto;
        font-size: 4vw;
    }

    #abertura {
        width: 100%;
        font-size: 4vw;
    }

    #part1 {
        display: block;
    }

    main #textoPrincipal {
        width: 80vw;
        font-size: 4vw;
    }

    #imgFim {
        display: flex;
        margin: 10vw auto;
    }

    #part2 {
        display: block;
        font-size: 4vw;
    }

    #imgCriando {
        display: flex;
        margin: 10vw auto;
    }

    #texto2 {
        width: 80vw;
    }
}

#whatsapp {
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 40px;
    right: 20px;
    border-radius: 50px;
    align-items: center;
    background-image: url('./imagens/whatsapp.png');
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
}



footer {
    display: flex;
    width: 100%;
    height: 30vw;
    align-items: center;
    background-image: url('./imagens/rodape.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#formaPagamento {
    width: 70vw;
    margin: auto;
    color: white;
}


