<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hair Stylist</title>

    <link rel="stylesheet" href="style.css">

</head>
<body>
    <main>
        <header>
            <img class="logo" src="./imagens/logo.png">

            <nav class="menu">
                <a class="menuItem" href=""><div>Instagram</div><img src="./imagens/Instagram.png"></a>
                <a class="menuItem" href=""><div>Facebook</div><img src="./imagens/facebook.png"></a>
                <a class="menuItem" href=""><div>Twitter</div><img src="./imagens/twitter.png"></a>
            </nav>
        </header>

        <section class="slogan">
            <h2>Você em 1º lugar</h2>
            <h1>Beleza é nosso negócio!</h1>
            <h3>Não se trata de grandes expectativas. Trata-se de corpo e alma.</h3>
            <button>Agendar</button>
        </section>
    </main>

    <section class="conteiner1">

        <div class="conteudo1">
            <div class="texto1">Hair</div>
            <div class="texto2">Studio</div>
            <div class="texto3">Stylist</div>
        </div>

        <div class="conteudo2">
            <p class="texto1">About</p>
            <p class="texto2">ABOUT STUDIO</p>
            <p class="texto3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut velit a labore harum voluptas cumque, enim dolore natus 
                dignissimos. Aspernatur quisquam corporis cum commodi? Harum tenetur recusandae numquam quisquam ex.
            </p>
            <button>Click aqui</button>
        </div>

    </section>

    <footer>
        <section class="galeria">
            <img src="./imagens/loira.jpg">
            <img src="./imagens/morena.jpeg">
            <img src="./imagens/maquiagem.jpg">
            <img src="./imagens/sombrancelha.jpg">
        </section>
    </footer>

    <img class="whatsapp" src="./imagens/whatsapp.png">

</body>
</html>